{% extends 'auth_base.html' %}
{% block title %}تغییر رمز عبور{% endblock %}
{% block content %}
<main class="form-signin w-100 m-auto">
  <div class="login-box">
  <div class="login-logo text-light">
     {{ request.user }}
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-header bg-info">
      <p class="login-box-msg">اطلاعات خود را وارد کنید</p>
    </div>
      <div class="card-body">
      <form action="" method="post" novalidate>{% csrf_token %}
         {{ form.new_password1.errors }}
        <div class="input-group mb-3">
          {{ form.new_password1 }}
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-key"></i></span>
          </div>
        </div>
        {{ form.new_password2.errors }}
        <div class="input-group mb-3">
          {{ form.new_password2 }}
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-key"></i></span>
          </div>
        </div>
          <!-- /.col -->
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-block">ورود</button>
        </div>
          <!-- /.col -->
          <p class="nav-link text-center">
            <a href="{% url 'password-reset' %}" class="link-light">رمز عبورم را فراموش کرده ام.</a>
          </p>

      </form>
    </div>
  </div>
    <!-- /.login-card-body -->
</div>
<!-- /.login-box -->

</main>

{% endblock %}