{% extends 'auth_base.html' %}
{% block title %}فراموشی رمز عبور{% endblock %}
{% block content %}

<div class="container text-center pt-4">
    <div class="text-light">
        <p>لطفا آدرس پست الکترونیک خود را وارد کنید</p>
        <p>ما دستورالعمل بازیابی رمز عبور شما را برایتان ارسال خواهیم کرد</p>
        {% if messages %}
          {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }} alert-dismissible">{{ msg }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
          {% endfor %}
        {% endif %}
    </div>
    <div class="row text-center mt-4">
        <div class="col-3"></div>
        <div class="col-6">
            <form action="" method="post" class="form" novalidate>{% csrf_token %}
                <div class="form-group mt-4">
                    {{ form.email.errors }}
                    {{ form.email }}
                </div>
                <p>
                    <button type="submit" class="btn btn-primary">ارسال دستورالعمل</button>
                </p>
            </form>
        </div>
    </div>

</div>

{% endblock %}